.container {
  width: 22%;
  padding: 2em;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.cardImg {
  width: 100%;
}
.title {
  color: rgb(232, 58, 42);
}
.price {
  font-size: 1.6rem;
  color: green;
  font-weight: bold;
}
.desc {
  text-align: center;
  padding: 0 1em;
  font-size: 1.4rem;
  line-height: 1.2em;
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  .title {
    font-size: 3rem;
  }
  .desc {
    font-size: 1.8rem;
  }
  .price {
    font-size: 2.4rem;
  }
}
